@import url(https://fonts.googleapis.com/css?family=Lato);
body * {
    font-family: "Lato", sans-serif !important;
}

.roomBodyContainer {
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.boardContainer {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background-image: url(/img/chess_1/board_ok.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chessMan{
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.chessMan:not(.availablePositionItem) {
    transition:all 0.4s linear;
}

body {
    background-image: url(/img/chess_1/bg/bg.jpg);
    background-size: cover;
    background-position: center;
}

.availablePositionItem{
    background-image: url(/img/chess_1/on.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.availablePositionItem.rotate {
    margin-left:  0;
}

.buttonStart{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 25px;
    z-index: 10;
    background: #d0a262ad;
    border: 1px solid #c18f57;
    border-radius: 200px;
    text-align: center;
    width: 80px;
    font-weight: bold;
    color: #433721;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}

.buttonStart:focus {
    outline: none;
}


@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.waves {
    position: absolute;
    width: 150px;
    height: 46px;
    background: rgb(217 168 102);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 40px;
    z-index: -1;
    animation: waves 3s ease-in-out infinite;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/*ROOM LIST*/
.createRoom .buttonStart {
    bottom: unset;
    top: 40px;
}

.createRoom .waves {
    bottom: unset;
    top: 30px;
}

.buttonRoom{
    border: 1px solid #c28f58;
    border-radius: 4px;
    background: #d0a263bd;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

p{
    margin: 0;
}

.joinButton{
    cursor: pointer;
    background: #d2542c;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50px;
    width: 54px;
}

.joinButton:focus{
    outline: none;
}

.roomItemContainer{
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
}

.roomItemContainer:first-child{
    margin-top: 85px;
}

.roomListContainer{
    height: 90vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.roomListContainer::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.boardBorder{
    background-image: url(/img/chess_1/board_bor.png);
}
